<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>About</title>
<style>
body {
	margin: 50px 40px 10px 70px;
	}
	
header {
	background-color:#DE1B1B;
	color: white;
	text-align:center;
	border-radius: 6px;
}

section {
	text-align:center;
	background-color:#DE1B1B;
	color: white;
	border-radius: 6px;
	clear:bottom;
}

footer {
	background-color:#DE1B1B;
	text-align:center;
	color: white;
	border-radius: 6px;
	clear:both;
}


a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: red;
    background-color: transparent;
    text-decoration: none;
}

.scrollable {
    height: 100px; /* or any value */
    overflow-y: auto;
}

ul#menu a {
    display:inline;
}

</style>
</head>
<body>

<header>
	<h1>Welcome to the About-Page!</h1>
</header>

<div>
	<img src="https://pixabay.com/static/uploads/photo/2016/01/28/09/18/banner-1165981_960_720.jpg" alt="Image" style="border-radius:6px;float:top; width: 100%; height: 50%">
</div>

<%= link_to 'Homepage', root_path %> |
<%= link_to 'About', about_path %> |
<%= link_to 'Alpha-Blog', articles_path %>

<div class="scrollable" style="border-top:2px solid black">
	<div style="width:49.5%; height:500px; float:left;">
		<ul id="menu">
		  <a href="http://www.google.de">Coffee</a>
		  <a href="http://www.google.de">Tea</a>
		  <a href="http://www.google.de">Milk</a>
		  <a href="http://www.google.de">Coffee</a>
		  <a href="http://www.google.de">Tea</a>
		  <a href="http://www.google.de">Milk</a>
		  <a href="http://www.google.de">Coffee</a>
		  <a href="http://www.google.de">Tea</a>
		  <a href="http://www.google.de">Milk</a>
		  <a href="http://www.google.de">Coffee</a>
		  <a href="http://www.google.de">Tea</a>
		  <a href="http://www.google.de">Milk</a>
		  <a href="http://www.google.de">Coffee</a>
		  <a href="http://www.google.de">Tea</a>
		  <a href="http://www.google.de">Milk</a>
		  <a href="http://www.google.de">Coffee</a>
		  <a href="http://www.google.de">Tea</a>
		  <a href="http://www.google.de">Milk</a>
		  <a href="http://www.google.de">Coffee</a>
		  <a href="http://www.google.de">Tea</a>
		  <a href="http://www.google.de">Milk</a>
		  <a href="http://www.google.de">Coffee</a>
		  <a href="http://www.google.de">Tea</a>
		  <a href="http://www.google.de">Milk</a>
		  <a href="http://www.google.de">Coffee</a>
		  <a href="http://www.google.de">Tea</a>
		  <a href="http://www.google.de">Milk</a>
		  <a href="http://www.google.de">Coffee</a>
		  <a href="http://www.google.de">Tea</a>
		  <a href="http://www.google.de">Milk</a>
		  <a href="http://www.google.de">Coffee</a>
		  <a href="http://www.google.de">Tea</a>
		  <a href="http://www.google.de">Milk</a>
		  <a href="http://www.google.de">Coffee</a>
		  <a href="http://www.google.de">Tea</a>
		  <a href="http://www.google.de">Milk</a>
		  <a href="http://www.google.de">Coffee</a>
		  <a href="http://www.google.de">Tea</a>
		  <a href="http://www.google.de">Milk</a>
		  <a href="http://www.google.de">Coffee</a>
		  <a href="http://www.google.de">Tea</a>
		  <a href="http://www.google.de">Milk</a>
		  <a href="http://www.google.de">Coffee</a>
		  <a href="http://www.google.de">Tea</a>
		  <a href="http://www.google.de">Milk</a>
		</ul> 
	</div>

	<div style="width:49.5%; height:500px;float:left;border-left:2px solid black" >
		<ul id="menu">
		  <a href="http://www.google.de">Coffee</a>
		  <a href="http://www.google.de">Tea</a>
		  <a href="http://www.google.de">Milk</a>
		  <a href="http://www.google.de">Coffee</a>
		  <a href="http://www.google.de">Tea</a>
		  <a href="http://www.google.de">Milk</a>
		  <a href="http://www.google.de">Coffee</a>
		  <a href="http://www.google.de">Tea</a>
		  <a href="http://www.google.de">Milk</a>
		  <a href="http://www.google.de">Coffee</a>
		  <a href="http://www.google.de">Tea</a>
		  <a href="http://www.google.de">Milk</a>
		  <a href="http://www.google.de">Coffee</a>
		  <a href="http://www.google.de">Tea</a>
		  <a href="http://www.google.de">Milk</a>
		  <a href="http://www.google.de">Coffee</a>
		  <a href="http://www.google.de">Tea</a>
		  <a href="http://www.google.de">Milk</a>
		  <a href="http://www.google.de">Coffee</a>
		  <a href="http://www.google.de">Tea</a>
		  <a href="http://www.google.de">Milk</a>
		  <a href="http://www.google.de">Coffee</a>
		  <a href="http://www.google.de">Tea</a>
		  <a href="http://www.google.de">Milk</a>
		  <a href="http://www.google.de">Coffee</a>
		  <a href="http://www.google.de">Tea</a>
		  <a href="http://www.google.de">Milk</a>
		  <a href="http://www.google.de">Coffee</a>
		  <a href="http://www.google.de">Tea</a>
		  <a href="http://www.google.de">Milk</a>
		  <a href="http://www.google.de">Coffee</a>
		  <a href="http://www.google.de">Tea</a>
		  <a href="http://www.google.de">Milk</a>
		  <a href="http://www.google.de">Coffee</a>
		  <a href="http://www.google.de">Tea</a>
		  <a href="http://www.google.de">Milk</a>
		  <a href="http://www.google.de">Coffee</a>
		  <a href="http://www.google.de">Tea</a>
		  <a href="http://www.google.de">Milk</a>
		  <a href="http://www.google.de">Coffee</a>
		  <a href="http://www.google.de">Tea</a>
		  <a href="http://www.google.de">Milk</a>
		  <a href="http://www.google.de">Coffee</a>
		  <a href="http://www.google.de">Tea</a>
		  <a href="http://www.google.de">Milk</a>
		</ul> 
	</div>
</div>
<footer>
	<p>Copyright © bartRising</p>
</footer>

</body>
</html>